<header class="header">
    <div class="header__container">
      <a href="#" class="header__logo">
        <img src="/public/images/svg/logo.svg" alt="Logo" title="Logo" class="header__logo-image" />
      </a>
      <div id="header-menu" class="header__body">
          <nav id="header-nav" class="header__nav">
            <ul class="header__list">
              <li class="header__item">
                <a href="#" class="header__link">Home</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">About</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">Resources</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">News</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">Contacts</a>
              </li>
            </ul>
          </nav>
          <button type="button" data-micromodal-trigger="form-popup" class="header__button header__button_mobile primary-button">Apply to Get Paid</button>
      </div>
      <button type="button" data-micromodal-trigger="form-popup" class="header__button primary-button">Apply to Get Paid</button>
      <button id="open-menu-button" class="header__burger" type="button" aria-label="Open mobile menu">
        <svg class="header__burger-open" width="30" height="30" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="28" height="5" rx="2.5" fill="#DE4E95" />
          <rect x="8" y="8" width="20" height="5" rx="2.5" fill="#DE4E95" />
          <rect x="17" y="16" width="11" height="5" rx="2.5" fill="#DE4E95" />
        </svg>
        <svg class="header__burger-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path fill="none" stroke="#DE4E95" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m7 7l10 10M7 17L17 7" />
        </svg>
      </button>
    </div>
</header>
