@use "../helpers" as *;

.article {
  @include small {
    &:not(:last-child) {
      margin-bottom: rem(50);
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (any-hover: hover) {
      &:hover {
        .article__image img {
          transform: scale(1.04);
        }

        .article__title {
          color: var(--primary);
        }

        .article__title {
          color: #de4e95;
        }

        .article__more::after {
          transform: translate(10px, -50%) rotate(270deg);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: rem(250);
    object-fit: cover;
    margin-bottom: rem(30);
    overflow: hidden;
    @include small {
      margin-bottom: rem(20);
    }

    img {
      transition: transform 0.4s ease;
    }
  }

  &__title {
    margin-bottom: rem(20);
    @include clamp("font-size", 26, 30);
    color: var(--gray-dark);
    line-height: 1.1;
    transition: color 0.3s ease;
  }

  &__text {
    margin-bottom: rem(33);
    color: #909090;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    @include small {
      margin-bottom: rem(20);
    }
  }

  &__more {
    font-weight: 700;
    color: #de4e95;
    font-size: rem(18);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: rem(-27);
      top: 50%;
      width: rem(16);
      height: rem(19);
      transform: translateY(-50%) rotate(270deg) translateX(0);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='19' viewBox='0 0 16 19' fill='none'%3E%3Cpath d='M7.29289 18.7071C7.68342 19.0976 8.31658 19.0976 8.70711 18.7071L15.0711 12.3431C15.4616 11.9526 15.4616 11.3195 15.0711 10.9289C14.6805 10.5384 14.0474 10.5384 13.6569 10.9289L8 16.5858L2.34315 10.9289C1.95262 10.5384 1.31946 10.5384 0.928933 10.9289C0.538408 11.3195 0.538408 11.9526 0.928933 12.3431L7.29289 18.7071ZM7 4.37114e-08L7 18L9 18L9 -4.37114e-08L7 4.37114e-08Z' fill='%23DE4E95'/%3E%3C/svg%3E");
      transition: transform 0.3s ease;
    }
  }
}
