@use "../helpers" as *;

.base-slider {
  &__container {
  }

  &__header {
    text-align: center;
    margin-bottom: fluid(24, 41);
    display: flex;
    flex-direction: column;
    row-gap: rem(6);
  }

  &__title {
    text-align: center;
  }

  &__text {
    color: var(--gray-light);
    font-size: fluid(18, 23);
    line-height: 1.3;
  }

  &__slider {
    overflow: hidden;
    @include medium {
      overflow: visible;
    }
  }

  &__wrapper {
  }

  &__slide {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;

    &:hover {
      .base-slider__slide-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__slide-image {
    border-radius: rem(20) rem(20) 0 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-title {
    padding: fluid(16, 20);
    border: rem(1) solid var(--gray-lightest);
    border-radius: 0 0 rem(20) rem(20);
    flex-grow:  1;
  }

  &__slide-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: rem(20);
    border: 1px solid #d2d2d2;
    background: #fff9f2;
    padding: fluid(16, 20);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    h3 {
      color: #434343;
      font-size: fluid(18, 25);
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: fluid(12, 16);
    }

    p {
      color: var(--gray-light);
      font-size: fluid(16, 23);
      line-height: 1.3;
    }
  }

  &__controls {
    margin-top: fluid(24, 40);
  }

  &__controls-button {
    &--prev {
    }

    &--next {
    }
  }

  &__controls-pagination {
  }
}
