@use "../helpers" as *;

.blog-page {
  max-width: rem(1320);
  margin: 0 auto;
  padding: 0 rem(20);

  &__header {
    margin-bottom: fluid(24, 55);
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 30%;
    column-gap: fluid(20, 52);
    align-items: start;
    position: relative;

    @include large {
      grid-template-columns: calc(100% - 40px);
    }
  }

  &__title {
    font-weight: 400;
    text-align: left;
    span {
      font-weight: 700;
    }
  }

  &__aside {
  }
}
