@use "../helpers" as *;

.cover-areas {
  padding-top: rem(120);

  &__container {
    position: relative;
    display: flex;
    gap: rem(24) rem(40);
    max-width: rem(1360);

    @include medium {
      flex-direction: column;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.3s ease;

    @include medium {
      top: 65%;
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__content {
    padding-top: rem(26);
    flex: 0 1 rem(250);
    margin-right: fluid(80, 195);

    @include medium {
      flex: 0 1 auto;
    }
  }

  &__title {
    margin-bottom: fluid(30, 65);
  }

  &__arrow {
  }

  &__slider {
    overflow: hidden;

    @include medium {
      overflow: visible;
    }
  }

  &__list {
  }

  &__item {
    border-radius: rem(20);
    overflow: hidden;
    border: rem(1) solid #d2d2d2;
    position: relative;
    width: rem(360);
    flex-shrink: 0;

    @media (max-width: rem(480)) {
      width: auto;
    }

    @include hover {
      .cover-areas__item-title {
        left: rem(24);
        bottom: calc(100% - rem(16));
        z-index: 5;
        transform: translateY(100%);
      }
      .cover-areas__item-image-wrapper {
        opacity: 0;
      }
      .cover-areas__item-text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__item-content {
    background-color: #fff;
  }

  &__item-image-wrapper {
    margin-bottom: rem(90);
    transition: all 0.5s ease;

    @include x-small {
      margin-bottom: rem(80);
    }
  }

  &__item-image {
    width: 100%;
    height: 100%;
    height: rem(225);
    object-fit: cover;

    @include small {
      max-height: rem(240);
    }
  }

  &__item-title {
    position: absolute;
    transition: all 0.5s ease;
    left: rem(24);
    bottom: calc(rem(16));
    z-index: 5;
  }

  &__item-text {
    position: absolute;
    left: rem(24);
    bottom: rem(16);
    z-index: 5;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    max-width: 90%;

    font-size: fluid(16, 18);
    line-height: 1.3;
  }
}
