@use "../helpers" as *;

.cta {
  overflow: hidden;
  @include clamp("padding-top", 30, 70);
  @include clamp("padding-bottom", 30, 70);
  &--no-decor {
    .cta__image {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    @include medium {
      flex-direction: column;
      row-gap: 45px;
      align-items: stretch;
    }
  }

  &__content {
    padding: 0 rem(20);
    flex: 0 1 rem(543);
    @include medium {
      flex: 0 1 auto;
    }

    .gradient-text {
      white-space: nowrap;
    }
  }

  &__image {
    position: relative;
    transform: translateX(20px);
    @include medium {
      transform: translateX(0);
    }
    @include x-small {
      img {
        width: 120%;
        max-width: 120%;
        margin: 0 -40px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(360deg, rgb(255, 255, 264) 4%, rgba(0, 0, 0, 0) 23%);
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 348" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.504504 348L0.0625 91.6638L145.562 0L291.062 91.6331L290.957 197.999C281.264 278.375 186.826 291.851 69.7535 287.453L0.504504 348Z" fill="url(%23paint0_linear_21009_553)"/><defs><linearGradient id="paint0_linear_21009_553" x1="10.8936" y1="338.918" x2="241.676" y2="60.5377" gradientUnits="userSpaceOnUse"><stop stop-color="%23FF5697"/><stop offset="1" stop-color="%23592F8A"/></linearGradient></defs></svg>');
      background-repeat: no-repeat;
      object-fit: contain;
      transform: translateX(40%);
    }
  }
}

.simple-cta {
  padding-block: fluid(30, 60);
  &--transparent {
    padding: 0;

    .simple-cta__content {
      background-color: transparent;
    }
    h2 {
      color: var(--secondary) !important;
    }
  }

  &__container {
    max-width: rem(1420);
    margin: 0 auto;
    padding: 0 rem(20);
  }

  &__content {
    text-align: center;
    background-color: var(--yellow);
    border-radius: 37px;
    padding-top: fluid(48, 90);
    padding-bottom: fluid(48, 90);
    padding-left: rem(20);
    padding-right: rem(20);

    a {
      margin-top: fluid(12, 24);
      width: 100%;
      max-width: rem(222);
    }

    h2 {
      line-height: 1.5;
      font-weight: 700;
      margin-bottom: rem(16);
      font-size: fluid(25, 30);
      background: var(--gradient, linear-gradient(119deg, #ff5697 0.94%, #592f8a 64.81%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
