@use "../helpers" as *;

.gradient-slider {
  &__container {
    max-width: rem(1220);
    display: flex;
    position: relative;
    gap: fluid(24, 60);

    @include x-large {
      flex-direction: column;
    }

    &::after {
      content: "";
      position: absolute;
      width: rem(400);
      height: 100%;
      top: 0;
      right: rem(-360);
      background: linear-gradient(270deg, #fff 72.5%, rgba(255, 255, 255, 0) 100%);
      pointer-events: none;
      z-index: 3;
      transition: opacity 0.3s ease;

      @include medium {
        background: none;
      }
    }

    &--end::after {
      opacity: 0;
    }
  }

  &__header {
    flex: 0 0 rem(290);
    display: flex;
    flex-direction: column;
    row-gap: rem(22);

    @include x-large {
      flex: 0 1 auto;
    }
  }

  &__title {
  }

  &__subtitle {
    color: var(--gray-light);
    font-size: rem(18);
    line-height: 1.3;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    margin-right: rem(-100);
    margin-left: rem(-16);
    padding-left: rem(16);
    width: 100%;

    @include x-large {
      margin-right: 0;
      overflow: visible;
    }

    .base-slide {
      ul {
        list-style: disc outside;
        padding-left: fluid(12, 20);
        li::marker {
          font-size: rem(14);
        }
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 16%;
    z-index: 3;
    transition: all 0.3s ease;
    &--prev {
      transform: rotate(180deg);
      left: 0;
    }
    &--next {
      right: rem(50);
    }

    @include x-large {
      right: 0;
    }

    @include medium {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}
