@use "../helpers" as *;

.gradient-slider {
  &__container {
    max-width: rem(1200);
    display: flex;
    position: relative;
    gap: fluid(24, 40);

    @include x-large {
      flex-direction: column;
    }

    &::after {
      content: "";
      position: absolute;
      width: rem(400);
      height: 100%;
      top: 0;
      right: rem(-360);
      background: linear-gradient(270deg, #fff 72.5%, rgba(255, 255, 255, 0) 100%);
      pointer-events: none;
      z-index: 3;
      transition: opacity 0.3s ease;

      @include medium {
        background: none;
      }
    }

    &--end::after {
      opacity: 0;
    }
  }

  &__header {
    flex: 0 0 rem(210);

    @include x-large {
      flex: 0 1 auto;
    }
  }

  &__title {
    margin-bottom: rem(16);
  }

  &__slider {
    overflow: hidden;
    margin-right: rem(-100);
    width: 100%;

    @include x-large {
      margin-right: 0;
      overflow: visible;
    }

    @include medium {
    }
  }

  &__button {
    position: absolute;
    bottom: 16%;
    right: rem(65);
    z-index: 3;
    transition: all 0.3s ease;

    @include x-large {
      right: 0;
    }

    @include medium {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}
