@use "../helpers" as *;

.grid-items {
  padding-block: fluid(40, 70);

  &__header {
    max-width: rem(950);
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(22);
  }

  &__title {
  }

  &__text {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
    gap: fluid(10, 20);
  }
}

.grid-item {
  padding: rem(16);
  border-radius: rem(20);
  border: rem(1) solid #d2d2d2;
  display: flex;
  flex-direction: column;

  &__image {
    width: rem(42);
    height: rem(42);
    object-fit: contain;
    margin-bottom: fluid(16, 24);
    align-self: flex-end;
  }

  &__title {
    color: #434343;
    font-size: fluid(18, 20);
    font-weight: 600;
    line-height: 1;
    margin-bottom: rem(8);
  }

  &__text {
    color: #707070;
    font-size: fluid(16, 18);
    line-height: 1.3;
  }
}
