@use "../helpers" as *;

.hero {
  margin-bottom: rem(40);
  margin-top: rem(50);
  @include large {
    margin-top: rem(21);
  }
  @include small {
    margin-bottom: rem(20);
  }

  &--slider {
    .hero__content {
      flex: 0 0 rem(575) !important;
      max-width: 100% !important;
    }

    @media (max-width: rem(1300)) {
      .hero__image {
        bottom: rem(-60);
      }
      .hero__image img {
        max-width: 80%;
        margin-left: auto;
      }
    }

    @include large {
      .hero__content {
        flex: 0 1 auto !important;
      }
    }
  }

  &--reverse {
    .hero__container {
      flex-direction: row-reverse;
      background-color: var(--yellow);
      padding: fluid(20, 60) fluid(20, 96);
      &::after {
        display: none;
      }
    }
    .hero__content {
      max-width: 50%;
      padding: 0;
      margin-right: auto;

      @include medium {
        max-width: 100%;
      }
    }
    .hero__image {
      position: absolute;
      right: rem(-71);
      bottom: rem(-77);
      max-width: rem(777) !important;
      margin-bottom: 0 !important;

      @include large {
        max-width: rem(620) !important;
      }

      @include medium {
        display: none;
      }
    }
  }

  &__inner {
    padding: 0 rem(20);
  }
  &__container {
    min-height: rem(541);
    background-color: var(--yellow);
    max-width: rem(1425);
    margin: 0 auto;
    border-radius: rem(54);
    display: flex;
    align-items: center;
    column-gap: rem(45);
    position: relative;
    @include medium {
      background-color: var(--yellow);
    }
    @include medium {
      padding: rem(38) rem(30) 0;
      min-height: unset;
    }

    @include medium {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__image {
    flex: 0 1 rem(655);
    position: relative;
    z-index: 2;
    margin-bottom: rem(-70);

    @include medium {
      flex: 0 1 auto;
      margin-bottom: rem(-80);
      max-width: 100%;

      img {
        margin: 0 -30px;
        max-width: 120%;
        width: 120%;
      }
    }

    @include small {
      margin-bottom: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    padding-top: rem(40);
    max-width: rem(500);
    padding-bottom: rem(60);

    @include medium {
      padding-bottom: rem(16);
      padding-top: 0;
      text-align: left;
      margin: 0 auto;
    }
    @include x-small {
      margin-right: auto;
      text-align: left;
      max-width: 100%;
    }

    h2 {
      font-size: fluid(24, 43);
      font-weight: 600;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: rem(16);
    }

    h3 {
      color: #434343;
      font-size: fluid(20, 25);
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: rem(16);
    }
    p {
      color: #707070;
      font-size: fluid(16, 23);
      font-weight: 400;
      line-height: 1.3;
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }
  &__title {
    font-size: fluid(24, 43);
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: rem(16);
  }
  &__buttons {
    margin-top: fluid(16, 24);
    display: flex;
    gap: fluid(16, 24);
    align-items: center;

    @include large {
      flex-direction: column;
      a,
      button {
        width: 100%;
        max-width: rem(400);
      }
    }
  }
}

.heading-anim-text {
  display: inline-block;
  min-width: 11em;
  vertical-align: top;
  white-space: nowrap;
  text-align: left;
  .heading-anim-part {
    display: none;
  }
}
