@use "../helpers" as *;

.image-title {
  padding-block: fluid(35, 70);

  &__container {
    max-width: rem(1120);
    margin: 0 auto;
    padding: 0 rem(40);
    text-align: center;
    @include medium {
      text-align: left;
    }
  }

  &__header {
    display: flex;
    column-gap: rem(20);
    align-items: center;
    justify-content: center;
    margin-bottom: rem(36);
    @include medium {
      justify-content: flex-start;
      margin-bottom: rem(12);
    }
  }

  &__image {
    width: fluid(152, 337);
    object-fit: contain;
  }
}
