@use "../helpers" as *;

.map {
  @include clamp("padding-top", 30, 90);

  &__body {
    width: 100%;
    @include clamp("height", 200, 700);
  }
  &__title {
    text-align: center;
    margin-bottom: 35px;
    @include small {
      margin-bottom: 15px;
    }
  }
  &__locations {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 1300px;
    margin: 0 auto 50px auto;
    @include medium {
      margin-bottom: 20px;
    }
  }
  &__link {
    background: rgb(255, 86, 151);
    background: linear-gradient(173deg, rgba(255, 86, 151, 1) 0%, rgba(89, 47, 138, 1) 100%);
    color: #fff;
    @include clamp("font-size", 17, 25);
    border-radius: 30px;
    padding: 15px 20px;
    width: 100%;
    flex: 1 1 120px;
    max-width: 230px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    @include small {
      padding: 12px 15px;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}

.map-marker {
  pointer-events: auto !important;
  display: block;
  @include clamp("width", 23, 47);
  @include clamp("height", 27, 58);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="47" height="58" viewBox="0 0 47 58" fill="none"%3E%3Cpath d="M23.362 1.74415C17.6223 1.74415 12.1177 4.02425 8.0591 8.08284C4.0005 12.1414 1.72041 17.6461 1.72041 23.3858C1.72041 30.5009 6.08204 38.674 10.7709 44.9611C13.1349 48.1307 15.6295 50.8849 17.7951 52.8584C18.8761 53.8435 19.8949 54.6523 20.7903 55.2221C21.6304 55.7568 22.5435 56.2022 23.362 56.2022C24.172 56.2022 25.0805 55.7728 25.9234 55.2497C26.8192 54.6937 27.8386 53.9034 28.9205 52.938C31.0878 51.0041 33.5842 48.2969 35.9499 45.1574C40.6461 38.9251 45.0037 30.7537 45.0037 23.3858C45.0037 17.6461 42.7236 12.1414 38.665 8.08284C34.6064 4.02425 29.1018 1.74415 23.362 1.74415ZM23.264 37.6865C20.5842 37.6865 17.9647 36.8918 15.7365 35.403C13.5084 33.9142 11.7717 31.7981 10.7462 29.3223C9.72072 26.8466 9.4524 24.1223 9.9752 21.494C10.498 18.8657 11.7884 16.4515 13.6833 14.5566C15.5782 12.6617 17.9924 11.3713 20.6207 10.8485C23.249 10.3257 25.9733 10.594 28.4491 11.6195C30.9248 12.645 33.0409 14.3816 34.5297 16.6098C36.0185 18.8379 36.8132 21.4575 36.8132 24.1373C36.8132 27.7308 35.3857 31.177 32.8447 33.718C30.3038 36.259 26.8575 37.6865 23.264 37.6865Z" fill="%23592F8A" stroke="white" stroke-width="2.17832"%3E%3C/path%3E%3Cpath d="M23.2578 11.2527L23.25 11.2527L23.2421 11.2529C22.9543 11.2586 22.673 11.3392 22.4259 11.4868C22.1787 11.6345 21.9744 11.844 21.8329 12.0947C21.6915 12.3454 21.6179 12.6287 21.6193 12.9166C21.6208 13.2044 21.6973 13.4869 21.8413 13.7362L21.8467 13.7455L21.8523 13.7547C22.2674 14.4416 22.4949 15.2253 22.5122 16.0275C22.5201 17.2681 22.0411 18.4624 21.1779 19.3537C20.3158 20.2438 19.1395 20.7606 17.9011 20.7938C17.188 20.794 16.4843 20.6295 15.8452 20.3129C15.2025 19.9947 14.6426 19.5315 14.2096 18.9598L14.1981 18.9447L14.1861 18.9299C14.0044 18.7066 13.7678 18.5341 13.4995 18.4295C13.2313 18.3248 12.9405 18.2914 12.6555 18.3325C12.3704 18.3737 12.101 18.488 11.8733 18.6644C11.6456 18.8407 11.4675 19.073 11.3564 19.3387L11.3536 19.3453L11.3509 19.3521C10.6616 21.063 10.3527 22.9034 10.4455 24.7456C10.5626 27.2702 11.4189 29.7047 12.9081 31.7467C14.3978 33.7894 16.455 35.3491 18.824 36.232C21.1929 37.1148 23.7692 37.2819 26.2323 36.7124C28.6955 36.1429 30.9369 34.8619 32.6779 33.0288C34.4189 31.1956 35.5827 28.8912 36.0245 26.4019C36.4664 23.9127 36.1668 21.3485 35.163 19.0282C34.1593 16.7078 32.4956 14.7337 30.3789 13.3513C28.2622 11.9688 25.7859 11.2391 23.2578 11.2527Z" fill="%239747FF" stroke="white" stroke-width="2.17832"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      transform: translateY(-3px);
    }
  }
}