@use "../helpers/" as *;

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 108, 108, 0.3);
  opacity: 0;
  backdrop-filter: blur(10px);
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: rem(50) 0;
  &--apply {
    .modal__content {
      padding: fluid(40, 60) rem(32);
    }
  }

  &--location {
    .modal__inner {
      max-width: rem(485);
      overflow: visible;
    }
    .modal__content {
      padding: rem(60) rem(40);
    }
    .modal__close {
      right: rem(-5);
      top: rem(-40);
      svg {
        width: rem(36);
        height: rem(36);
        color: #fff;
      }
      &:hover {
        & svg {
          color: #fff;
        }
      }
    }
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .modal__content {
      opacity: 1;
    }
  }
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(16);
  }
  &__inner {
    width: 100%;
    max-width: rem(820);
    max-height: 85vh;
    max-height: 85dvh;
    overflow: auto;
    display: inline-block;
    border-radius: rem(20);
  }
  &__content {
    padding: rem(24);
    background-color: #fff;
    border-radius: rem(13);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    position: relative;
  }
  &__title {
    font-size: fluid(25, 42);
    color: #626262;
    margin-bottom: rem(24);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
  &__form {
  }
  &__close {
    position: absolute;
    right: rem(12);
    top: rem(12);
    @media (any-hover: hover) {
      &:hover {
        & svg {
          color: rgb(179, 0, 0);
        }
      }
    }
    svg {
      pointer-events: none;
      width: rem(30);
      height: rem(30);
      color: #626262;
    }
  }
}
