@use "../helpers" as *;

.rows {
  padding-block: fluid(40, 70);

  &__header {
    max-width: rem(950);
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);
  }
  &__title {
  }
  &__text {
    color: var(--gray-light);
    font-size: fluid(16, 23);
    line-height: 1.3;
  }

  &__container {
    max-width: rem(1220);
    margin: 0 auto;
    padding: 0 20px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: fluid(24, 35);
  @include small {
    grid-template-columns: 1fr;
    align-items: stretch;
  }

  &--no-decor {
    .row__image {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--reverse {
    .row__image {
      order: 2;
    }
    .row__content {
      order: 1;
    }
    @include small {
      .row__image {
        order: 1;
      }
      .row__content {
        order: 2;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: rem(26);
  }



  &__image {
    position: relative;

    @include small {
      img {
        width: 100%;
      }
    }

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 120%;
      height: 100%;
      bottom: -2px;
      left: -30px;
      background: linear-gradient(360deg, rgb(255, 255, 264) 4%, rgba(0, 0, 0, 0) 23%);
    }

    &::after {
      pointer-events: none;
      content: "";
      z-index: -1;
      position: absolute;
      top: 20px;
      right: 0;
      width: 90%;
      height: 90%;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 348" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.504504 348L0.0625 91.6638L145.562 0L291.062 91.6331L290.957 197.999C281.264 278.375 186.826 291.851 69.7535 287.453L0.504504 348Z" fill="url(%23paint0_linear_21009_553)"/><defs><linearGradient id="paint0_linear_21009_553" x1="10.8936" y1="338.918" x2="241.676" y2="60.5377" gradientUnits="userSpaceOnUse"><stop stop-color="%23FF5697"/><stop offset="1" stop-color="%23592F8A"/></linearGradient></defs></svg>');
      background-repeat: no-repeat;
      object-fit: contain;
      transform: translateX(-12%);
      @include small {
        transform: translateX(-12%);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    @include small {
    }
  }

  &__buttons {
    margin-top: fluid(16, 22);
    display: flex;
    gap: fluid(16, 24);
    align-items: center;

    @include x-small {
      flex-direction: column;
      a,
      button {
        width: 100%;
        max-width: rem(400);
      }
    }
  }
}
