@use "../helpers" as *;

.simple-rows {
  padding-block: fluid(40, 70);

  &__container {
    max-width: rem(1220);
    margin: 0 auto;
    padding: 0 rem(20);
  }

  &__header {
    max-width: rem(950);
    margin: 0 auto;
    text-align: center;
    margin-bottom: fluid(24, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
  }

  &__title {
  }

  &__text {
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }

  &__item {
  }
}

.simple-row {
  display: flex;
  align-items: center;
  gap: fluid(16, 44);
  border-radius: rem(20);
  border: rem(1) solid var(--gray-lightest);

  @include small {
    flex-direction: column;
    padding: rem(16);
  }

  &__image {
    flex: 0 0 rem(400);
    @include small {
      flex: 0 1 auto;
    }

    img {
      border-radius: rem(20);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: rem(20);
  
    @include small {
      padding: 0;
      text-align: center;
    }
  }

  &__title {
    color: var(--gray-dark);
    font-size: fluid(20, 25);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: rem(8);
  }

  &__text {
    color: var(--gray-light);
    font-size: fluid(16, 18);
    line-height: 1.3;
  }
}
