@use "../helpers" as *;

.svg-map {
  position: relative;
  padding-top: 0;

  &__container {
    max-width: rem(1080);
    margin: 0 auto;
    display: flex;
    @include small {
      flex-direction: column;
    }
  }
  &__body {
    flex-grow: 1;
  }
  &__areas {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    @include small {
      display: none;
    }
  }
  &__svg {
    path {
      transition: fill 0.3s ease;
    }
  }
}

.map-popup {
  width: 100%;
  max-width: max-content;
  padding: fluid(12, 24);
  position: absolute;
  z-index: 1000;
  border-radius: rem(8);
  background-color: #0280ff;
  box-shadow:
    0px 1px 4px 0px rgba(12, 12, 13, 0.05),
    0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  font-family: Manrope !important;
  font-size: fluid(16, 22);
  font-weight: 500;
  line-height: 1.2;
  color: #fff;

  @include small {
    display: none !important;
  }

  &.move-left {
    &::before {
      left: unset;
      right: 0;
      transform: rotate(180deg) translateX(-100%);
    }
  }
  &.move-bottom {
    &::before {
      left: unset;
      right: 50%;
      top: unset;
      bottom: 100%;
      transform: rotate(90deg);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: rem(8);
    left: 0;
    width: 0;
    height: 0;
    transform: translateX(-100%);
    border-top: rem(7) solid transparent;
    border-bottom: rem(7) solid transparent;
    border-right: rem(12) solid #007bff;
  }

  h2 {
    font-family: Manrope;
    font-size: fluid(16, 22);
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: fluid(8, 16);
  }
  h3 {
    font-family: Manrope;
    font-size: fluid(16, 22);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: rem(4);
  }
  ul {
    font-family: Manrope;
    padding-left: fluid(14, 20);
    li {
      list-style-type: disc;
      &::marker {
        font-size: fluid(10, 14);
      }
      &:not(:last-child) {
        margin-bottom: fluid(12, 16);
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        font-size: fluid(14, 18);
      }
    }
  }
}

.map-marker {
  width: rem(24);
  height: rem(24);
  transition: all 0.3s ease;
  cursor: pointer;
  @include hover {
    width: rem(28);
    height: rem(28);
    transform: translateX(-2px) translateY(-3px);
  }
  @include small {
    width: rem(32);
    height: rem(32);
  }
}

.map-label {
  pointer-events: none;
  display: none;
  position: absolute;
  font-weight: bold;
  font-size: fluid(18, 28);
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 40px;
  z-index: 20;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  @media (max-width: 640px) {
    padding: 10px 30px;
  }
}
