@use "../helpers" as *;

.video-cta {
  padding: fluid(30, 60) rem(20) fluid(30, 80) rem(20);

  &__container {
    max-width: rem(1425);
    margin: 0 auto;
    padding: fluid(80, 125) rem(20);
    border-radius: rem(37);
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%);
    }
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(20);
  }

  &__title {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;
  }

  &__text {
    color: #fff;
    font-size: rem(18);
    line-height: 1.3;
    text-align: center;
    max-width: rem(677);
  }

  &__buttons {
    margin-top: rem(12);
    display: flex;
    gap: fluid(12, 24);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include small {
      flex-direction: column;
      a,
      button {
        width: 100%;
        max-width: rem(400);
      }
    }
  }
}
