.footer {
  margin-top: 90px;
  background-color: var(--secondary);
  @include clamp("padding-top", 114, 60);
  @include clamp("padding-bottom", 83, 60);
  &__container {
    max-width: 1112px;
    margin: 0 auto;
    padding: 0 16px;
  }
  &__main {
    @include clamp("margin-bottom", 40, 23);
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
    row-gap: 23px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: ($lg)) {
      flex-direction: column;
      justify-content: stretch;
    }
    @media (max-width: ($md)) {
      align-items: flex-start;
    }
  }
  &__socials {
    display: flex;
    column-gap: 28px;
  }
  &__social-link {
    flex-shrink: 0;
    transition: opacity 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__social-image {
    width: 26px;
    height: 26px;
    @media (max-width: ($sm)) {
      width: 23px;
      height: 23px;
    }
  }
  &__logo {
    max-width: 100%;
  }
  &__email {
    display: flex;
    column-gap: 24px;
    align-items: center;
    @include clamp("font-size", 23, 20);
    transition: color 0.3s ease;
    color: #fff;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
  }
  &__email-image {
  }
  &__nav {
    margin-bottom: 16px;
    @media (max-width: ($md)) {
      margin-bottom: 40px;
    }
  }
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 40px;
    @media (max-width: ($md)) {
      justify-content: flex-start;
    }
  }
  &__nav-item {
  }
  &__nav-link {
    font-size: 17px;
    color: #fff;
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
    @media (max-width: ($sm)) {
      font-size: 16px;
    }
  }
  &__links {
    margin-bottom: 10px;
    @media (max-width: ($md)) {
      margin-bottom: 30px;
    }
  }
  &__links-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
    @media (max-width: ($md)) {
      justify-content: flex-start;
    }
  }
  &__links-item {
    &:not(:last-child) {
      position: relative;
      &::after {
        content: "|";
        color: var(--primary);
        padding: 0 4px;
        font-size: 20px;
        @media (max-width: ($md)) {
          font-size: 16px;
        }
      }
    }
  }
  &__links-link {
    font-size: 20px;
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
    @media (max-width: ($md)) {
      font-size: 16px;
    }
    color: #fff;
  }
  &__copyright {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    @include clamp('font-size', 17, 16);
    color: #fff;
    a {
      transition: color 0.3s ease;
      @media (any-hover: hover) {
        &:hover {
          color: var(--primary);
        }
      }
    }
    @media (max-width: ($md)) {
      text-align: left;
    }
  }
}
