@use "helpers" as *;

html {
  --primary: #ff5697;
  --secondary: #341d6f;
  --yellow: #fff9f2;
  --gray-dark: #434343;
  --gray-light: #707070;
}

body {
  font-family: "Outfit", sans-serif;
  // font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--gray-light);
  max-width: 100%;

  &.menu-is-open {
    overflow: hidden;
  }

  &.sidebar-is-open {
    #sidebar-button {
    }

    #sidebar {
      transform: translateX(0);
    }

    #sidebar-button {
      span {
        background-color: transparent;
      }

      span::before {
        transform: rotateZ(45deg) translateY(0);
      }

      span::after {
        transform: rotateZ(-45deg) translateY(0);
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;

  .page-content {
    @include clamp("padding-top", 15, 30);
    flex: 1 1 auto;
  }
}

.page-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  .page-heading {
    padding: 0;
    max-width: 100%;
  }
}

.mail-icon {
  display: flex;
  column-gap: 15px;
  align-items: center;

  &::before {
    content: "";
    width: 25px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20" fill="none"%3E%3Cpath d="M12.686 14.6807C11.9077 14.6807 11.1294 14.4228 10.4656 13.9003L0.632812 6.17726V16.9635C0.632812 18.2238 1.64462 19.2463 2.89279 19.2463H22.4792C23.7274 19.2463 24.7392 18.2243 24.7392 16.9635V6.17726L14.9083 13.9055C14.2444 14.4239 13.4629 14.6807 12.686 14.6807ZM1.39979 4.85038L11.3908 12.7023C12.153 13.3015 13.2209 13.3015 13.9831 12.7023L23.9741 4.85038C24.4143 4.46991 24.7392 3.88495 24.7392 3.26669C24.7392 2.00592 23.7269 0.983887 22.4792 0.983887H2.89279C1.64462 0.983887 0.632812 2.00592 0.632812 3.26669C0.632812 3.88495 0.91578 4.46991 1.39979 4.85038Z" fill="%23592F8A"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.tel-icon {
  display: flex;
  column-gap: 15px;
  align-items: center;

  &::before {
    content: "";
    width: 25px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23341d6f%22%20d%3D%22M19.95%2021q-3.125%200-6.175-1.362t-5.55-3.863t-3.862-5.55T3%204.05q0-.45.3-.75t.75-.3H8.1q.35%200%20.625.238t.325.562l.65%203.5q.05.4-.025.675T9.4%208.45L6.975%2010.9q.5.925%201.187%201.787t1.513%201.663q.775.775%201.625%201.438T13.1%2017l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21%2015.9v4.05q0%20.45-.3.75t-.75.3%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.gradient-text {
  background: rgb(255, 86, 151);
  background: linear-gradient(330deg, rgba(89, 47, 138, 1) 0%, rgba(255, 86, 151, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title {
  color: var(--gray-dark);
  font-weight: 600;
  text-align: center;
  @include clamp("font-size", 25, 40);
  @media (max-width: ($md)) {
    text-align: left;
  }

  .gradient-text {
    @include clamp("font-size", 27, 43);
    text-transform: uppercase;
  }
}

.section-title {
  @include clamp("font-size", 25, 35);
  font-weight: 600;
  color: var(--gray-dark);
  line-height: 1.1;
}

.sub-title {
  color: var(--secondary);
  text-transform: uppercase;
  @include clamp("font-size", 25, 35);
  font-weight: 600;
}

.icont {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.base-text {
  line-height: 1.3;
  color: var(--gray-light);
  @include clamp("font-size", 16, 23);
}

.column-content {
  color: var(--gray-light);
  line-height: 1.3;
  @include clamp("font-size", 15, 20);

  h2 {
    font-weight: bold;
    color: var(--secondary);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    @include clamp("font-size", 20, 30);
    margin-bottom: 12px;
    line-height: 1.2;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  a {
    padding: 20px 52px;
    border-radius: 34px;
    background-color: var(--primary);
    color: #fff;
    font-weight: 700;
    text-align: center;
    @include clamp("font-size", 16, 10);
    display: inline-block;
    line-height: 1.3;
    transition: all 0.3s ease;
    border: 1px solid var(--primary);
    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
        background-color: #fff;
      }
    }
  }

  ul {
    padding-left: 20px;

    li {
      list-style: disc;

      &::marker {
        font-size: 16px;
      }
    }
  }

  &_big-title {
    h2 {
      @include clamp("font-size", 20, 40);
    }
  }

  &_big-text {
    @include clamp("font-size", 15, 23);
  }

  &_gray-title {
    h2 {
      color: var(--gray-dark);
    }
  }
}

.primary-button {
  padding: 21px 55px;
  border-radius: 34px;
  background-color: var(--primary);
  color: #fff;
  font-weight: 700;
  text-align: center;
  @include clamp("font-size", 16, 18);
  display: block;
  line-height: 1.3;
  transition: all 0.3s ease;
  border: 1px solid var(--primary);
  @media (any-hover: hover) {
    &:hover {
      color: var(--primary);
      background-color: #fff;
    }
  }
}

.page-heading {
  padding: 0 20px;
  @media (max-width: ($sm)) {
    max-width: 300px;
  }
}
