@function em($px, $cur-fz) {
  @return calc($px / $cur-fz * 1em);
}

@function lh($lh, $fz) {
  @return calc($lh / $fz);
}

@function per($pxOne, $pxTwo) {
  @return calc((100% * $pxOne) / $pxTwo);
}

@mixin av($property, $startSize, $minSize, $widthFrom: 1400, $widthTo: 375) {
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});
  @media (min-width: ($widthFrom + px)) {
    #{$property}: $startSize + px;
  }
}
@mixin clamp($property, $max, $min) {
  #{$property}: clamp(#{$min}px, #{$max / 1400 * 100}vw, #{$max}px);
}

@function toRem($value) {
  $remValue: ($value / 16);
  @return $remValue;
}
@function rem($value) {
  $remValue: ($value / 16) rem;
  @return $remValue;
}

@mixin clamp($prop, $minValue, $maxValue, $minWidth: 375, $maxWidth: 1400) {
  $slope: (toRem($maxValue) - toRem($minValue)) / (toRem($maxWidth) - toRem($minWidth));
  $yAxisIntersection: toRem(-$minWidth) * $slope + toRem($minValue);
  #{$prop}: clamp(#{toRem($minValue)}rem, #{$yAxisIntersection}rem + #{$slope * 100}vw, #{toRem($maxValue)}rem);
}
