@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@import "normalize";
@import "helpers";
@import "prose";
@import "/node_modules/aos/dist/aos.css";

$xl: 1200px;
$lg: 992px;
$md: 768px;
$msm: 640px;
$sm: 480px;

@import "general";
@import "header";
@import "footer";

.hero {
  margin-bottom: 40px;
  @media (max-width: ($lg)) {
    margin-top: 21px;
  }
  @media (max-width: ($sm)) {
    margin-bottom: 20px;
  }
  &__inner {
    padding: 0 20px;
  }
  &__container {
    max-width: 1425px;
    margin: 0 auto;
    border-radius: 54px;
    display: flex;
    align-items: center;
    column-gap: 45px;
    position: relative;
    @media (max-width: ($lg)) {
      background-color: var(--yellow);
    }
    @media (max-width: ($lg)) {
      padding: 38px 30px 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 0;
      background-color: var(--yellow);
      border-radius: 54px;
      width: 100%;
      height: 78%;
      @media (max-width: 1170px) {
        top: 20px;
        height: 100%;
      }
      @media (max-width: ($lg)) {
        display: none;
      }
    }
    @media (max-width: ($lg)) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__image {
    flex: 0 1 655px;
    position: relative;
    z-index: 2;
    @media (max-width: ($lg)) {
      flex: 0 1 auto;
      max-width: 70%;
      margin: 0 auto;
      img {
        margin: 0 -30px;
        max-width: 120%;
        width: 120%;
      }
    }
    @media (max-width: ($md)) {
      max-width: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    padding-top: 40px;
    max-width: 500px;
    padding-bottom: 60px;
    @media (max-width: ($lg)) {
      padding-bottom: 16px;
      padding-top: 0;
      text-align: left;
      margin: 0 auto;
    }
    @media (max-width: ($md)) {
      margin-right: auto;
      text-align: left;
      max-width: 100%;
    }
  }
}

.benefits {
  @include clamp("padding-top", 25, 60);
  @include clamp("padding-bottom", 25, 50);

  &__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    column-gap: 100px;
    align-items: flex-start;
    @include clamp("column-gap", 0, 100);
    @media (max-width: ($xl)) {
      flex-direction: column;
      row-gap: 54px;
      align-items: stretch;
    }
  }

  &__title {
    width: 250px;
    flex-shrink: 0;
    padding-top: 42px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -55px;
      left: 0;
      width: 45px;
      height: 16px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 16" fill="none"><path d="M43.7696 8.70711C44.1601 8.31658 44.1601 7.68342 43.7696 7.29289L37.4056 0.928932C37.0151 0.538408 36.382 0.538408 35.9914 0.928932C35.6009 1.31946 35.6009 1.95262 35.9914 2.34315L41.6483 8L35.9914 13.6569C35.6009 14.0474 35.6009 14.6805 35.9914 15.0711C36.382 15.4616 37.0151 15.4616 37.4056 15.0711L43.7696 8.70711ZM0.0625 9H43.0625V7H0.0625V9Z" fill="%23DE4E95"/></svg>');
      background-repeat: no-repeat;
    }
    @media (max-width: ($xl)) {
      width: 100%;
      text-align: center;

      br {
        display: none;
      }

      &::after {
        left: 50%;
        bottom: -40px;
        width: 16px;
        height: 19px;
        transform: translateX(-50%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='19' viewBox='0 0 16 19' fill='none'%3E%3Cpath d='M7.29289 18.7071C7.68342 19.0976 8.31658 19.0976 8.70711 18.7071L15.0711 12.3431C15.4616 11.9526 15.4616 11.3195 15.0711 10.9289C14.6805 10.5384 14.0474 10.5384 13.6569 10.9289L8 16.5858L2.34315 10.9289C1.95262 10.5384 1.31946 10.5384 0.928933 10.9289C0.538408 11.3195 0.538408 11.9526 0.928933 12.3431L7.29289 18.7071ZM7 4.37114e-08L7 18L9 18L9 -4.37114e-08L7 4.37114e-08Z' fill='%23DE4E95'/%3E%3C/svg%3E");
      }
    }
    @media (max-width: ($md)) {
      padding-top: 0;
    }
  }

  &__items {
    padding:  0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 16px;
    @media (max-width: ($md)) {
      grid-template-columns: 1fr;
    }
  }
}

.item-benefits {
  width: 100%;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 22px 30px;

  &__header {
    display: flex;
    flex-direction: column;
    @media (max-width: ($md)) {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      column-gap: 30px;
      margin-bottom: 11px;
    }
  }

  &__image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    align-self: flex-end;
  }

  &__title {
    @include clamp("font-size", 20, 25);
    font-weight: 600;
    color: var(--gray-dark);
    margin-bottom: 6px;
    line-height: 1.1;
    @media (max-width: ($md)) {
      margin-bottom: 0;
    }
  }

  &__text {
    @include av("font-size", 18, 16);
  }
}

.cta {
  overflow: hidden;
  @include clamp("padding-top", 30, 70);
  @include clamp("padding-bottom", 30, 70);

  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    @media (max-width: ($lg)) {
      flex-direction: column;
      row-gap: 45px;
      align-items: stretch;
    }
  }

  &__content {
    padding: 0 20px;
    flex: 0 1 543px;
    @media (max-width: ($lg)) {
      flex: 0 1 auto;
    }
  }

  &__image {
    position: relative;
    transform: translateX(20px);
    @media (max-width: ($lg)) {
      transform: translateX(0);
    }
    @media (max-width: ($md)) {
       img {
        width: 120%;
        max-width: 120%;
        margin: 0 -40px;
       }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(360deg, rgb(255, 255, 264) 4%, rgba(0, 0, 0, 0) 23%);
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 348" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.504504 348L0.0625 91.6638L145.562 0L291.062 91.6331L290.957 197.999C281.264 278.375 186.826 291.851 69.7535 287.453L0.504504 348Z" fill="url(%23paint0_linear_21009_553)"/><defs><linearGradient id="paint0_linear_21009_553" x1="10.8936" y1="338.918" x2="241.676" y2="60.5377" gradientUnits="userSpaceOnUse"><stop stop-color="%23FF5697"/><stop offset="1" stop-color="%23592F8A"/></linearGradient></defs></svg>');
      background-repeat: no-repeat;
      object-fit: contain;
      transform: translateX(40%);
    }
  }
}

.simple-cta {
  @include clamp("padding-top", 30, 70);
  @include clamp("padding-bottom", 30, 60);

  &__container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content {
    text-align: center;
    background-color: var(--yellow);
    border-radius: 37px;
    @include clamp("padding-top", 60, 90);
    @include clamp("padding-bottom", 60, 90);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.image-title {
  @include clamp("padding-top", 35, 70);
  @include clamp("padding-bottom", 35, 70);

  &__container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;
    @media (max-width: ($md)) {
      text-align: left;
    }
  }

  &__header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    @media (max-width: ($md)) {
      justify-content: flex-start;
      margin-bottom: 12px;
    }
  }

  &__title {
  }

  &__image {
    @include clamp("width", 152, 337);
    object-fit: contain;
  }

  &__text {
  }
}

.steps {
  @include clamp("padding-top", 30, 60);
  @include clamp("padding-bottom", 30, 50);

  &__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    text-align: center;
    @include clamp("margin-bottom", 20, 37);
    @media (max-width: ($md)) {
      text-align: left;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 22px;
    @media (max-width: ($md)) {
      grid-template-columns: 1fr;
    }
  }
}

.item-steps {
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  padding: 37px 42px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='69' viewBox='0 0 70 69' fill='none'%3E%3Ccircle cx='34.5625' cy='34.5' r='34.5' fill='white'/%3E%3Ccircle cx='34.5625' cy='34.5' r='19.5' fill='url(%23paint0_linear_20948_1874)'/%3E%3Cpath d='M43.5625 33.134C44.2292 33.5189 44.2292 34.4811 43.5625 34.866L36.0625 39.1962C35.3958 39.5811 34.5625 39.0999 34.5625 38.3301L34.5625 29.6699C34.5625 28.9001 35.3958 28.4189 36.0625 28.8038L43.5625 33.134Z' fill='white'/%3E%3Crect x='27.0625' y='32.0908' width='10' height='3.81818' rx='1' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_20948_1874' x1='16.5141' y1='16.0178' x2='41.1608' y2='51.5711' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF5697'/%3E%3Cstop offset='1' stop-color='%23592F8A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    width: 70px;
    height: 69px;
    transform: translate(65%, -50%);
    z-index: 2;
    @media (max-width: ($md)) {
      top: unset;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 65%) rotate(90deg);
    }
  }

  &:nth-child(1) {
    z-index: 3;
  }

  &:nth-child(2) {
    z-index: 2;
  }

  &:nth-child(3) {
    z-index: 1;
    position: relative;

    &::after {
      display: none;
    }
  }
  @media (max-width: ($md)) {
    padding: 26px 30px;
  }

  &__image {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-bottom: 16px;
  }

  &__title {
    @include clamp("font-size", 18, 25);
    font-weight: 600;
    color: var(--gray-dark);
    margin-bottom: 8px;
  }

  &__text {
    @include clamp("font-size", 16, 18);
  }
}

.rows {
  @include clamp("padding-top", 30, 50);
  @include clamp("padding-bottom", 30, 50);

  &__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:nth-child(even) {
    .row__image {
      order: 2;

      img {
        margin-left: auto;
      }

      &::after {
        transform: translateX(40%);
      }
      @media (max-width: ($msm)) {
        order: 2;
      }
    }

    .row__content {
      order: 1;
      @media (max-width: ($msm)) {
        order: 1;
      }
    }
  }
  @media (max-width: ($msm)) {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }

  &__image {
    position: relative;
    order: 1;
    @media (max-width: ($msm)) {
      order: 2;

      img {
        width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 100%;
      bottom: -2px;
      left: -30px;
      background: linear-gradient(360deg, rgb(255, 255, 264) 4%, rgba(0, 0, 0, 0) 23%);
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 20px;
      right: 0;
      width: 90%;
      height: 90%;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 348" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.504504 348L0.0625 91.6638L145.562 0L291.062 91.6331L290.957 197.999C281.264 278.375 186.826 291.851 69.7535 287.453L0.504504 348Z" fill="url(%23paint0_linear_21009_553)"/><defs><linearGradient id="paint0_linear_21009_553" x1="10.8936" y1="338.918" x2="241.676" y2="60.5377" gradientUnits="userSpaceOnUse"><stop stop-color="%23FF5697"/><stop offset="1" stop-color="%23592F8A"/></linearGradient></defs></svg>');
      background-repeat: no-repeat;
      object-fit: contain;
      transform: translateX(-12%);
      @media (max-width: ($msm)) {
        transform: translateX(-12%);
      }
    }
  }

  &__content {
    order: 2;
    padding: 0 20px;
    @media (max-width: ($msm)) {
      order: 1;
    }
  }
}

.testimonials {
  @include clamp("padding-top", 30, 50);
  @include clamp("padding-bottom", 30, 50);

  &__container {
  }

  &__title {
    padding: 0 20px;
    text-align: center;
    @include clamp("margin-bottom", 22, 44);
  }

  &__slider {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }
}

.testimonial {
  flex-shrink: 0;
  width: 374px;
  background-color: var(--yellow);
  border-radius: 26px;
  padding: 37px 27px;
  @include clamp("font-size", 14, 18);
  @media (max-width: ($md)) {
    width: 280px;
    padding: 24px 20px;
  }

  &__rating {
    @include clamp("margin-bottom", 15, 20);
  }

  &__text {
    font-size: inherit;
  }

  &__author {
    font-weight: 600;
    margin-top: 28px;
    text-align: right;
  }
}

.page-not-found {
  max-width: 1370px;
  margin: 0 auto;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.resources {
  @include clamp("margin-top", 40, 55);

  &__container {
  }

  &__header-wrapper {
    position: relative;
    @include clamp("margin-top", 0, 65);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 6px;
      left: 0;
      background-color: #cbcbcb;
    }
  }

  &__header {
    @include clamp("margin-bottom", 45, 60);
    overflow: auto;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__header-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    column-gap: 30px;
  }

  &__categories {
    flex-shrink: 0;
  }

  &__categories-list {
    display: flex;
    column-gap: 24px;
  }

  &__categories-link {
    color: #4e4e4e;
    @include clamp("font-size", 16, 18);
    white-space: nowrap;
    transition: color 0.3s ease;

    &.active-cat {
      font-weight: 700;
      color: var(--primary);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 7px;
        bottom: -27px;
        left: 0;
        background-color: var(--primary);
      }
    }
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
  }

  &__search {
    flex-shrink: 0;
  }

  &__search-input {
    border-bottom: 1px solid transparent;
    padding: 3px;

    &:focus {
      outline: none;
      border-bottom: 1px solid #cbcbcb;
    }
  }

  &__search-button {
    width: 20px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M9 17.8535C13.4183 17.8535 17 14.2718 17 9.85352C17 5.43524 13.4183 1.85352 9 1.85352C4.58172 1.85352 1 5.43524 1 9.85352C1 14.2718 4.58172 17.8535 9 17.8535Z' stroke='%23592F8A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.0004 19.8534L14.6504 15.5034' stroke='%23592F8A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__body {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px 38px;

    &_big-article {
      .article:nth-child(1) {
        grid-column: span 3;
        @media (max-width: ($lg)) {
          grid-column: span 2;
        }
        @media (max-width: ($msm)) {
          grid-column: span 1;
        }
      }

      .article:nth-child(1) .article__image {
        height: 450px;
        margin-bottom: 15px;
        @media (max-width: ($msm)) {
          height: 250px;
        }
      }

      .article:nth-child(1) .article__title {
        margin-bottom: 0;
      }

      .article:nth-child(1) .article__more {
        display: none;
      }

      .article:nth-child(1) .article__text {
        display: none;
      }
    }
    @media (max-width: ($lg)) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: ($msm)) {
      display: block;
    }
  }
}

.article {
  @media (max-width: ($msm)) {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (any-hover: hover) {
      &:hover {
        .article__image img {
          transform: scale(1.04);
        }

        .article__title {
          color: var(--primary);
        }

        .article__title {
          color: #de4e95;
        }

        .article__more::after {
          transform: translate(10px, -50%) rotate(270deg);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
    overflow: hidden;
    @media (max-width: ($msm)) {
      margin-bottom: 20px;
    }

    img {
      transition: transform 0.4s ease;
    }
  }

  &__title {
    margin-bottom: 20px;
    @include clamp("font-size", 26, 30);
    color: var(--gray-dark);
    line-height: 1.1;
    transition: color 0.3s ease;
  }

  &__text {
    margin-bottom: 33px;
    color: #909090;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    @media (max-width: ($msm)) {
      margin-bottom: 20px;
    }
  }

  &__more {
    font-weight: 700;
    color: #de4e95;
    font-size: 18px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -27px;
      top: 50%;
      width: 16px;
      height: 19px;
      transform: translateY(-50%) rotate(270deg) translateX(0);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='19' viewBox='0 0 16 19' fill='none'%3E%3Cpath d='M7.29289 18.7071C7.68342 19.0976 8.31658 19.0976 8.70711 18.7071L15.0711 12.3431C15.4616 11.9526 15.4616 11.3195 15.0711 10.9289C14.6805 10.5384 14.0474 10.5384 13.6569 10.9289L8 16.5858L2.34315 10.9289C1.95262 10.5384 1.31946 10.5384 0.928933 10.9289C0.538408 11.3195 0.538408 11.9526 0.928933 12.3431L7.29289 18.7071ZM7 4.37114e-08L7 18L9 18L9 -4.37114e-08L7 4.37114e-08Z' fill='%23DE4E95'/%3E%3C/svg%3E");
      transition: transform 0.3s ease;
    }
  }
}

.pagination {
  display: flex;
  column-gap: 20px;
  justify-content: center;

  &__button {
    padding: 13px 20px;
    width: 100%;
    max-width: 210px;
  }
}

/* Single */
.single-article {
  display: grid;
  grid-template-columns: 1fr 32%;
  column-gap: 26px;
  align-items: flex-start;
  position: relative;

  @include clamp("padding-top", 0, 40);
  @media (max-width: ($lg)) {
    grid-template-columns: calc(100% - 40px);
  }

  &__title {
    @include clamp("font-size", 25, 40);
    color: var(--gray-dark);
    @include clamp("margin-bottom", 15, 50);
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    @include clamp("margin-bottom", 25, 35);
  }

  &__content {
  }
}

.sidebar {
  background-color: #f9e8d4;
  padding: 52px 30px 50px 45px;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 10;
  @media (max-width: ($lg)) {
    position: absolute;
    top: 0;
    right: -20px;
    background-color: #f9e8d4;
    width: 280px;
    transform: translateX(calc(100% - 40px));
  }

  &__button {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 23px;
    height: 22px;
    display: none;
    @media (max-width: ($lg)) {
      display: block;
    }

    span {
      width: 100%;
      height: 4px;
      background-color: black;
      display: block;
      border-radius: 2.5px;
    }

    span::after,
    span::before {
      content: "";
      width: 100%;
      background-color: #707070;
      display: block;
      border-radius: 12px;
      height: 4px;
    }

    span::before {
      transform: translateY(-7px);
    }

    span::after {
      transform: translateY(7px);
      margin-top: -4px;
    }
  }

  &__section {
    &:not(:last-child) {
      @include clamp("margin-bottom", 30, 50);
    }
  }

  &__title {
    color: var(--gray-dark);
    @include clamp("font-size", 25, 35);
    @include clamp("margin-bottom", 20, 30);
  }

  &__list {
  }

  &__item {
    &:not(:last-child) {
      @include clamp("margin-bottom", 5, 10);
    }
  }

  &__link {
    color: var(--gray-dark);
    @include clamp("font-size", 20, 25);
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
  }
}

/* Contacts */
.contacts {
  &__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    column-gap: 37px;
    @media (max-width: ($lg)) {
      flex-direction: column;
      row-gap: 37px;
    }
  }

  &__content {
    flex: 0 1 483px;
    padding-top: 30px;
    line-height: 1.5;
    color: var(--gray-light);
    @include clamp("font-size", 16, 18);
    @media (max-width: ($lg)) {
      flex: 0 1 auto;
      padding-top: 0;
    }

    h2 {
      font-weight: 700;
      @include clamp("font-size", 25, 43);
      background: linear-gradient(330deg, rgba(89, 47, 138, 1) 0%, rgba(255, 86, 151, 1) 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      line-height: 1.2;
      @include clamp("margin-bottom", 18, 24);
    }

    a {
      @include av("margin-top", 34, 18);
      @include av("font-size", 23, 20);
      color: var(--secondary);
      transition: color 0.3s ease;
      @media (any-hover: hover) {
        &:hover {
          color: var(--primary);
        }
      }
    }
  }

  &__form {
    flex: 0 1 648px;
    border-radius: 18px;
    background-color: var(--yellow);
    padding: 50px;
    @media (max-width: ($lg)) {
      flex: 0 1 auto;
    }
    @media (max-width: ($md)) {
      padding: 45px;
    }
  }

  &__form-script {
    width: 100%;
    height: 500px;
  }
  @include clamp("padding-bottom", 20, 65);
}

/* Locations */
.locations {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  @include clamp("padding-top", 20, 50);

  &__title {
    text-align: center;
    @include clamp("margin-bottom", 15, 34);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 18px;
    @media (max-width: ($msm)) {
      grid-template-columns: 1fr;
    }
  }
}

.location {
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  padding: 30px 28px 34px 36px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  transition: all 0.9s ease;

  &:hover {
    border: 1px solid var(--primary);
  }
  @media (max-width: ($md)) {
    padding: 20px;
  }

  &__icon {
    align-self: flex-end;
    width: 55px;
    height: 55px;
    object-fit: contain;
    @media (max-width: ($md)) {
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    color: var(--gray-dark);
    @include clamp("font-size", 18, 25);
    font-style: normal;

    h3 {
      @include clamp("font-size", 22, 30);
      font-weight: 700;
    }
  }
}

/* Map */
.map {
  @include clamp("padding-top", 30, 90);

  &__body {
    width: 100%;
    @include clamp("height", 200, 700);
  }
  &__title {
    text-align: center;
    margin-bottom: 35px;
    @media (max-width: ($sm)) {
       margin-bottom: 15px;
    }
  }
  &__locations {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 1300px;
    margin: 0 auto 50px auto;
    @media (max-width: ($md)) {
      margin-bottom: 20px;
    }
  }
  &__link {
    background: rgb(255, 86, 151);
    background: linear-gradient(173deg, rgba(255, 86, 151, 1) 0%, rgba(89, 47, 138, 1) 100%);
    color: #fff;
    @include clamp("font-size", 17, 25);
    border-radius: 30px;
    padding: 15px 20px;
    width: 100%;
    flex: 1 1 120px;
    max-width: 230px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    @media (max-width: ($msm)) {
      padding: 12px 15px;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}

.map-marker {
  pointer-events: auto !important;
  display: block;
  @include clamp("width", 23, 47);
  @include clamp("height", 27, 58);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="47" height="58" viewBox="0 0 47 58" fill="none"%3E%3Cpath d="M23.362 1.74415C17.6223 1.74415 12.1177 4.02425 8.0591 8.08284C4.0005 12.1414 1.72041 17.6461 1.72041 23.3858C1.72041 30.5009 6.08204 38.674 10.7709 44.9611C13.1349 48.1307 15.6295 50.8849 17.7951 52.8584C18.8761 53.8435 19.8949 54.6523 20.7903 55.2221C21.6304 55.7568 22.5435 56.2022 23.362 56.2022C24.172 56.2022 25.0805 55.7728 25.9234 55.2497C26.8192 54.6937 27.8386 53.9034 28.9205 52.938C31.0878 51.0041 33.5842 48.2969 35.9499 45.1574C40.6461 38.9251 45.0037 30.7537 45.0037 23.3858C45.0037 17.6461 42.7236 12.1414 38.665 8.08284C34.6064 4.02425 29.1018 1.74415 23.362 1.74415ZM23.264 37.6865C20.5842 37.6865 17.9647 36.8918 15.7365 35.403C13.5084 33.9142 11.7717 31.7981 10.7462 29.3223C9.72072 26.8466 9.4524 24.1223 9.9752 21.494C10.498 18.8657 11.7884 16.4515 13.6833 14.5566C15.5782 12.6617 17.9924 11.3713 20.6207 10.8485C23.249 10.3257 25.9733 10.594 28.4491 11.6195C30.9248 12.645 33.0409 14.3816 34.5297 16.6098C36.0185 18.8379 36.8132 21.4575 36.8132 24.1373C36.8132 27.7308 35.3857 31.177 32.8447 33.718C30.3038 36.259 26.8575 37.6865 23.264 37.6865Z" fill="%23592F8A" stroke="white" stroke-width="2.17832"%3E%3C/path%3E%3Cpath d="M23.2578 11.2527L23.25 11.2527L23.2421 11.2529C22.9543 11.2586 22.673 11.3392 22.4259 11.4868C22.1787 11.6345 21.9744 11.844 21.8329 12.0947C21.6915 12.3454 21.6179 12.6287 21.6193 12.9166C21.6208 13.2044 21.6973 13.4869 21.8413 13.7362L21.8467 13.7455L21.8523 13.7547C22.2674 14.4416 22.4949 15.2253 22.5122 16.0275C22.5201 17.2681 22.0411 18.4624 21.1779 19.3537C20.3158 20.2438 19.1395 20.7606 17.9011 20.7938C17.188 20.794 16.4843 20.6295 15.8452 20.3129C15.2025 19.9947 14.6426 19.5315 14.2096 18.9598L14.1981 18.9447L14.1861 18.9299C14.0044 18.7066 13.7678 18.5341 13.4995 18.4295C13.2313 18.3248 12.9405 18.2914 12.6555 18.3325C12.3704 18.3737 12.101 18.488 11.8733 18.6644C11.6456 18.8407 11.4675 19.073 11.3564 19.3387L11.3536 19.3453L11.3509 19.3521C10.6616 21.063 10.3527 22.9034 10.4455 24.7456C10.5626 27.2702 11.4189 29.7047 12.9081 31.7467C14.3978 33.7894 16.455 35.3491 18.824 36.232C21.1929 37.1148 23.7692 37.2819 26.2323 36.7124C28.6955 36.1429 30.9369 34.8619 32.6779 33.0288C34.4189 31.1956 35.5827 28.8912 36.0245 26.4019C36.4664 23.9127 36.1668 21.3485 35.163 19.0282C34.1593 16.7078 32.4956 14.7337 30.3789 13.3513C28.2622 11.9688 25.7859 11.2391 23.2578 11.2527Z" fill="%239747FF" stroke="white" stroke-width="2.17832"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      transform: translateY(-3px);
    }
  }
}
