<div id="location-popup" aria-hidden="true" class="modal" role="dialog">
  <div tabindex="-1" data-micromodal-close class="modal__body">
    <div class="modal__inner">
      <div class="modal__content">
        <button class="modal__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <h2 class="modal__title" id="modal-1-title">Get in Touch</h2>
        <div class="modal__form location-popup" id="location-popup-container">
          <div class="location-popup__content">
            <svg
              class="location-popup__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="52"
              height="52"
              viewBox="0 0 52 52"
              fill="none"
            >
              <path
                d="M38 0a14.34 14.34 0 0 1 9.88 3.947 13.35 13.35 0 0 1 3.047 14.886 13.35 13.35 0 0 1-3.047 4.4l-2.042 1.973c.105.247.163.514.163.787V50a2 2 0 0 1-1 1.741 2 2 0 0 1-1 .26 2 2 0 0 1-1-.26l-13.002-7.43-12.99 7.423-.008.007a2 2 0 0 1-1 .26H16a2 2 0 0 1-1-.26L1 43.737a2 2 0 0 1-1-1.74V5.988A2 2 0 0 1 2 3.98a2 2 0 0 1 1 .269l13 7.43 10.678-6.106q.652-.869 1.441-1.625A14.34 14.34 0 0 1 38 0m-6 40.837 10.001 5.722V28.918l-2.602 2.517a2 2 0 0 1-1.399.56 2 2 0 0 1-1.4-.56l-4.6-4.45zm-28 0 10 5.72V15.15L4 9.43zm14.001-25.688v31.409L28 40.83V23.993c0-.255.05-.505.142-.738l-.023-.023a13.35 13.35 0 0 1-3.976-11.59zM38 3.987a10.14 10.14 0 0 0-7.1 2.841 9.323 9.323 0 0 0 0 13.524l7.1 6.862 7.1-6.862a9.323 9.323 0 0 0 0-13.524 10.18 10.18 0 0 0-7.1-2.84m-1.168 4.117a6 6 0 1 1 2.34 11.77 6 6 0 0 1-2.34-11.77m1.17 3.885a2 2 0 1 0 0 4.001 2 2 0 0 0 0-4"
                fill="#DE4E95"
              />
            </svg>
            <div class="location-popup__info">
              <h2 class="location-popup__title" data-location-title></h2>
              <div class="location-popup__item">
                <span class="location-popup__label">Address:</span>
                <p class="location-popup__text" data-location-address></p>
              </div>
              <div class="location-popup__item">
                <span class="location-popup__label">Phone:</span>
                <p class="location-popup__text" data-location-phone></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
